<header class="w-full flex justify-center top-0 sticky bg-primary p-4 text-white mb-6">
  <section class="w-full flex justify-center">
    <div class="px-4">
      <button routerLinkActive="button--active" routerLink="/orders" class="p-1 border-b-2 transparent-border">Orders</button>
    </div>
    <div class="px-4">
      <button routerLinkActive="button--active" routerLink="/pizzas" class="p-1 border-b-2 transparent-border">Pizzas</button>
    </div>
  </section>
</header>

<router-outlet></router-outlet>
