<section class="container mx-auto flex flex-wrap justify-center">
  <div *ngFor="let pizza of pizzas$ | async" class="w-full px-4 sm:w-6/12 xl:w-4/12 2xl:w-3/12 mb-4">
    <app-pizza-card [pizza]="pizza"></app-pizza-card>
  </div>
</section>
